// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

atom-text-editor {
  .line.current-line.translatom {
    margin-bottom: -1px;
    border-bottom: 1px solid #fed330;
    background: rgba(100, 100, 100, 0.4) !important;
  }
}

.translatom-view {
  .search-form {
    display: flex;

    .input-search {
      flex: 1;
    }
  }

  .search-list-container {
    padding-top: 0;
  }

  .search-list {
    .search-result {
      display: flex;

      .result-left {
        overflow: hidden;
        flex: 1;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .result-right {
        flex: 1.2;
        min-width: 0;

        .right-item {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .description {
          margin-left: 10px;
        }
      }
      .result-index {
        width: 16px;

        .numbering {
          display: inline-block;
          margin-top: 3px;
          width: 16px;
          text-align: center;
          line-height: 16px;
        }
      }
    }
  }
}
